<div class="container">
  <p></p>
  <form class="form-group row">
    <div class="form-group col-md-3">
      <label for="nombre">Nombre: </label>
      <input
        type="text"
        name="nombre"
        id="nombre"
        placeholder="Nombre"
        class="form-control"
        [(ngModel)]="cuadroNombre"
        [readonly]="action == 'delete'"
        [class]="action == 'delete' ? 'disabled' : '' "
      />
    </div>
    <div class="form-group col-md-3">
      <label for="apellido">Apellido: </label>
      <input
        type="text"
        name="apellido"
        id="apellido"
        placeholder="Apellido"
        class="form-control"
        [(ngModel)]="cuadroApellido"
        [readonly]="action == 'delete'"
        [class]="action == 'delete' ? 'disabled' : '' "
      />
    </div>
    <div class="form-group col-md-3">
      <label for="cargo">Cargo: </label>
      <input
        type="text"
        name="cargo"
        id="cargo"
        placeholder="Cargo"
        class="form-control"
        [(ngModel)]="cuadroCargo"
        [readonly]="action == 'delete'"
        [class]="action == 'delete' ? 'disabled' : '' "
      />
    </div>
    <div class="form-group col-md-3">
      <label for="salario">Salario: </label>
      <input
        type="number"
        name="salario"
        id="salario"
        placeholder="Salario"
        class="form-control"
        [(ngModel)]="cuadroSalario"
        [readonly]="action == 'delete'"
        [class]="action == 'delete' ? 'disabled' : '' "
      />
    </div>
    <p></p>
    <h1 *ngIf="action == 'delete'" style="color: red;">Estás seguro de que quieres borrar este registro?</h1>
    <div class="col">
      <button  *ngIf="action == 'edit'" class="btn btn-primary" (click)="actualizar()" style="background-color: rgb(12, 192, 12);">
        Actualizar
      </button>
      <button *ngIf="action == 'delete'" class="btn btn-primary" (click)="this.delete()" style="background-color:red">
        Confirmar
      </button>
      <p></p>
      <button class="btn btn-primary" routerLink="/projects" >
        Volver
      </button>
    </div>
  </form>
</div>
